<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Raggio Spring guru imp</title>
</head>
<body>
<h1>Authors list</h1>
<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>

    <tr th:each="author: ${authors}">
        <td th:text="${author.id}">Author id</td>
        <td th:text="${author.firstName}">Author Last Name</td>
        <td th:text="${author.lastName}">Author Last Name</td>
    </tr>
</table>


</body>
</html>